.container {
  display: flex;
  justify-content: center;
  width: 65%;
  background-color: #22282A;
  border-radius: 5px;
}

@media only screen and (max-width: 770px) {
  .container {
    width: 100%;
  }
}