.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }
  
  .card {
    margin: 0 3% !important;
  }
  
  .rate {
    border-bottom: 10px solid whitesmoke;
    width: 400px;
  }
  
  
  @media only screen and (max-width: 770px) {
    .card {
      margin: 2% 0 !important;
    }
  }